---
import type { CareerCard } from "@/models/types";
import { CareerCardPosition, Transform } from "@/models/enums";
import TransformIn from "@/components/TransformIn.astro";
import DynamicImage from "@/components/DynamicImage.astro";

interface Props {
  card: CareerCard;
  position?: CareerCardPosition;
}

const { card, position = CareerCardPosition.Left } = Astro.props;

const isRight = position == CareerCardPosition.Right;
---

<div class:list={["flex lg:gap-4", isRight && "lg:flex-row-reverse"]}>
  <div class="w-full">
    <div class:list={["flex justify-end", isRight && "lg:flex-row-reverse"]}>
      <TransformIn transform={Transform.BorderBottom} activationPercentage={55}>
        <div
          class="bg-background-0 dark:bg-background-1000 border-background-1000
            dark:border-background-0 border-b-background-0
            dark:border-b-background-1000 mb-10 border border-b-4 p-5
            transition-colors lg:max-w-100"
        >
          <h3 class="text-xl font-semibold transition dark:text-white">
            {card.title}
          </h3>
          <h4
            class="text-primary-dark dark:text-primary font-semibold transition"
          >
            {card.company}
          </h4>
          <p class="mt-3 transition dark:text-white">
            {card.description}
          </p>
          <div class="mt-1 lg:hidden">
            <h4
              class="text-primary-dark dark:text-primary font-semibold
                transition"
            >
              {card.periodStart} - {card.periodEnd}
            </h4>
          </div>
        </div>
      </TransformIn>
      <div
        class:list={[
          `border-l-background-1000 dark:border-l-background-0 mt-6 h-0 w-0
          border-8 border-transparent transition-colors`,
          isRight &&
            `lg:border-r-background-1000 lg:dark:border-r-background-0
            lg:border-l-transparent lg:dark:border-l-transparent`,
        ]}
      >
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div
      class="border-background-1000 dark:border-background-0 w-16 rounded-full
        border-2 transition"
    >
      <DynamicImage
        imageName={card.image}
        alt=""
        class="box-border aspect-square w-full rounded-full object-cover"
      />
    </div>
    <div
      class="bg-background-1000 dark:bg-background-0 mx-auto h-full w-0.5
        transition"
    >
    </div>
  </div>
  <div class="invisible absolute lg:visible lg:static lg:w-full">
    <div class:list={["flex justify-start", isRight && "lg:flex-row-reverse"]}>
      <div class="mt-5">
        <h4
          class="text-primary-dark dark:text-primary font-semibold transition"
        >
          {card.periodStart} - {card.periodEnd}
        </h4>
      </div>
    </div>
  </div>
</div>
